### 1. If Statement

Used to run a block of code only when a condition is true.

In [3]:
# Sytax

# if condition:
#   #code

salary = 20000
if salary >= 18000:
    print("You are eligible for promotion")

You are eligible for promotion

### 2. If–Else Statement

Runs one block if true, another if false.

In [4]:
salary = 20000

if salary >= 30000:
    print("You are eligible for promotion")
else:
    print("You are not eligible for promotion")

You are not eligible for promotion

### 3. If–Elif–Else

Used for multiple conditions.

In [12]:
score = int(input("Enter score: "))
print(score)

# score = 88

if score >= 95:
    print("Grade A")
elif score >= 75:
    print("Grade B")
elif score >= 50:
    print("Grade C")
else:
    print("Fail")

88
Grade B

You will use if/elif/else to:

✔ clean data (e.g., fill missing values)

✔ categorize data

✔ define model selection rules

✔ implement custom activation functions

✔ control training loops

### Nested IF

In Python, an if statement cannot be empty, so if you need an if block with no action, use the pass statement to avoid an error.

In [17]:
a = 30

if a > 10:
    print("a is greater then 10")
    if a > 20:
        print("a is above 20")
    else:
        print("a is not above 20")
else:
    print("Ourside if statement")

a is greater then 10
a is above 20

In [18]:
a = 3

if a > 10:
    print("a is greater then 10")
    if a > 20:
        print("a is above 20")
    else:
        print("a is not above 20")
else:
    print("Ourside if statement")

Ourside if statement

In [24]:
a = 10
b = 20

# if no code added with in the if block then it will throw error as expected an indented block. to overcom it we use the pass
if a > b:

print("Hello")

IndentationError: expected an indented block after 'if' statement on line 5 (1935794054.py, line 7)

In [23]:
a = 10
b = 20

if a > b:
    pass

In [30]:
a = 100  # a = 10
b = 30
c = 400

if a > b and c > a:
    print("Both the conditions are true")


if a > b or c > a:
    print("Either of the condition is true")

Both the conditions are true
Either of the condition is true

### Loops

In Python, we have two primitive loop commands:

- While Loop

- For Loop

** While loop runs until a condition becomes false.

In [33]:
count = 0

while count <= 5:
    print(count)
    count += 1

0
1
2
3
4
5

In [47]:
i = 0
name = 'DIVAKAR'
print("Length of the give string ", len(name))

while i < len(name):
    print(name[i])
    i += 1

Length of the give string  7
D
I
V
A
K
A
R

In [48]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

### 5. Loop Control Statements

#### - break:

The break statement immediately exits the nearest enclosing loop.

Execution continues with the first statement after the loop.

#### - continue:

The continue statement skips the rest of the current loop iteration.

The loop then moves on to the next iteration.

#### - pass

The pass statement does nothing.

It is used as a placeholder in situations where a statement is syntactically required but no action is needed (e.g., empty functions, loops, or conditionals).

In [51]:
i = 1
while i < 10:
    print("Iteration...", i)
    i += 1

Iteration... 1
Iteration... 2
Iteration... 3
Iteration... 4
Iteration... 5
Iteration... 6
Iteration... 7
Iteration... 8
Iteration... 9

In [52]:
i = 1
while i < 10:
    print("Iteration...", i)
    if i == 5:
        break
    i += 1

Iteration... 1
Iteration... 2
Iteration... 3
Iteration... 4
Iteration... 5

In [58]:
i = 1
while i < 10:
    i += 1
    if i == 5:
        print("Skipped the Iteration for..", i)
        continue
    print("Iteration...", i)

Iteration... 2
Iteration... 3
Iteration... 4
Skipped the Iteration for.. 5
Iteration... 6
Iteration... 7
Iteration... 8
Iteration... 9
Iteration... 10

In [66]:
name = "Sachine_Tendulkar"
i = 0

while i < len(name):
    if name[i] == '_':
        i += 1
        continue
    print(name[i])
    i += 1

S
a
c
h
i
n
e
T
e
n
d
u
l
k
a
r

** A for loop is used for iterating over a sequence.

Sequecne can be list, tupe, set, string or a dictionary

In [67]:
cities = ["bengaluru", "chennai", "bombay", "hyderabad"]
for city in cities:
    print(city)

bengaluru
chennai
bombay
hyderabad

In [ ]:
cities = ["bengaluru", "chennai", "bombay", "hyderabad"]
for city in cities:
    if city == 'bombay':
        break       # come out from the iteration
    print(city)

bengaluru
chennai

In [ ]:
cities = ["bengaluru", "chennai", "bombay", "hyderabad"]
for city in cities:
    if city == 'bombay':
        continue      # skips the current iteration
    print(city)

bengaluru
chennai
hyderabad

In [ ]:
cities = ["bengaluru", "chennai", "bombay", "hyderabad"]
for city in cities:
    if city == 'bombay':
        pass      # nothing does
    print(city)

bengaluru
chennai
bombay
hyderabad

In [72]:
# range() function

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(2,10):  # It iterates through from 2nd index value to 10
    print(x)

2
3
4
5
6
7
8
9

In [ ]:
for x in range(2,10,3):  # it increment by 3 starts from 2nd index
    print(x)

2
5
8

### Nested Loop

A nested loop is a loop inside another loop.

The inner loop runs completely every time the outer loop runs one time.

In [84]:
for x in range(3):  # Outer loop iterates for three times (0,1,2)
    for y in range(2): # Iterates for each outer loop value for (0,1) 2 times inner loop 
        print(x,y)

0 0
0 1
1 0
1 1
2 0
2 1

How it works the above nested loop

When x = 0, the inner loop runs with y = 0 and y = 1

When x = 1, the inner loop runs with y = 0 and y = 1

When x = 2, the inner loop runs with y = 0 and y = 1

In [89]:
continents = ['Asia', 'Europe']
countries = ['India','Berlin','Nepal', 'Itally']

for continent in continents:
    for country in countries:
        if country in('India','Nepal'):
            continent = 'Asia'
        else:
            continent = 'Europe'  
        print(continent, country)

## this way it is wrong

Asia India
Europe Berlin
Asia Nepal
Europe Itally
Asia India
Europe Berlin
Asia Nepal
Europe Itally

In [93]:
# If you want to check continent by country inside a nested loop. Still possible, but unnecessary:

continents = ['Asia', 'Europe']
countries = ['India','Berlin','Nepal', 'Itally']

for continent in continents:
    for country in countries:
        if country in ('India', 'Nepal'):
            print("Asia", country)
        else:
            print("Europe", country)

Asia India
Europe Berlin
Asia Nepal
Europe Itally
Asia India
Europe Berlin
Asia Nepal
Europe Itally

In [94]:
continent_map = {
    'Asia': ['India', 'Nepal'],
    'Europe': ['Berlin', 'Itally', 'Berlin']
}

for continent in continent_map:
    for country in continent_map[continent]:
        print(continent,country)

Asia India
Asia Nepal
Europe Berlin
Europe Itally
Europe Berlin