### 1. What is a Set?

Sets are used to store multiple items into a single variable

A Set is a collection which is unordered, unchangable and unindexed and do not allow duplicate values

In [1]:
my_set = {1, 2, 3}
print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

### Characteristics of Sets

| Property                          | Description                                |
| --------------------------------- | ------------------------------------------ |
| **Unordered**                     | No fixed index or position                 |
| **Mutable**                       | You can add or remove items                |
| **No duplicates**                 | Duplicate values are automatically removed |
| **Only immutable values allowed** | Eg: strings, numbers, tuples               |

### 2. Creating Sets

In [11]:
# Normal set:
s = {10, 20, 30}
print(s)

# Mixed data types:

mset = {1,2,3,'Divakar', 10.5, True}
print(mset)

# Set automatically removes duplicates:
dupset = {1,2,3,4,1,4}
print(dupset)

# Empty set (IMPORTANT)
s = set()     # Use set() to declare the set
print(type(s))
print("Empty Set ", s)

# Wrong (creates dict):
s = {}      # this is a dictionary, NOT a set
print(type(s))

{10, 20, 30}
{1, 2, 3, 10.5, 'Divakar'}
{1, 2, 3, 4}
<class 'set'>
Empty Set  set()
<class 'dict'>

### 3. Adding Elements to a Set
Once set is created we cannot change the items, but we can add new items.

We can use add() and update()

In [22]:
s = {1,2,3}
s.add(4)
print(s)

# to add multiple items we use update()

s.update(['Diva','Siva'])
print(s)

s1 = {1,2,3,4,'usa','USA'}
s2 = {'India','USA','China'}
s1.update(s2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 'Diva', 'Siva'}
{1, 2, 3, 4, 'usa', 'USA', 'China', 'India'}

### 4. Removing Elements

| Method       | Description                             |
| ------------ | --------------------------------------- |
| `remove(x)`  | Removes item; **error** if not found    |
| `discard(x)` | Removes item; **no error** if not found |
| `pop()`      | Removes a random element                |
| `clear()`    | Removes everything                      |

In [25]:
s = {'apple','banana','orange'}
print("Before Remove", s)
s.remove('apple')
print("After Remove ",s)

Before Remove {'banana', 'apple', 'orange'}
After Remove  {'banana', 'orange'}

In [ ]:
# If the item to remove doesn't exists then remove method will throw errors and discard method will not throw errors.
s.remove("India")

KeyError: 'India'

In [29]:
s.discard("India")
print(s)

{'banana', 'orange'}

In [35]:
sample_set = {1,2,3,4}
print(sample_set)
sample_set.pop()   # randomly remlves the element
print(sample_set)

{1, 2, 3, 4}
{2, 3, 4}

In [ ]:
print(sample_set.clear())    # remloves everything

None

### 5. Looping Through a Set

In [38]:
s = {"India","China","USA","Dubai"}
for city in s:
    print(city)

# Items appear in random order, not index order.)

Dubai
China
USA
India

### 6. Set Operations (VERY IMPORTANT)

Python sets allow mathematical operations:

Combine elements of both sets:

##### Union (| or union())

In [39]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)           # {1, 2, 3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

#### Intersection (& or intersection())

In [40]:
print(a & b)           # {3}
print(a.intersection(b))

{3}
{3}

### Difference (- or difference())

Elements in a but not in b:

In [41]:
print(a - b)

{1, 2}

### Symmetric Difference (^)

Elements NOT common in both:

In [43]:
print(a)
print(b)
print(a ^ b)           # {1, 2, 4, 5}

{1, 2, 3}
{3, 4, 5}
{1, 2, 4, 5}

### 7. Checking relationships between sets

Subset:

In [44]:
print({1, 2}.issubset({1, 2, 3}))   # True

True

Superset

In [45]:
print({1, 2, 3}.issuperset({2}))    # True

True

Disjoint:

In [46]:
print({1, 2}.isdisjoint({3, 4}))    # True

True

8. IMPORTANT: Sets are Unordered

You cannot access items using indexing:

In [47]:
s = {10, 20, 30}
print(s[0])    # ERROR

TypeError: 'set' object is not subscriptable

### 9. Frozen Sets (Immutable Set)

A frozenset is like a tuple version of a set â€” cannot be modified.

In [49]:
fs = frozenset({1, 2, 3})
print(fs)

frozenset({1, 2, 3})

### Example Programs

In [54]:
fruits = {"apple", "banana", "cherry"}

# Add
fruits.add("orange")
print("fruits after adding ", fruits)

# Remove
fruits.discard("banana")
print("fruits after discard ", fruits)

# Check membership
print("apple" in fruits)


# Union
more = {"kiwi", "apple"}
print(fruits)
print(more)
print(fruits | more)

fruits after adding  {'banana', 'apple', 'cherry', 'orange'}
fruits after discard  {'apple', 'cherry', 'orange'}
True
{'apple', 'cherry', 'orange'}
{'kiwi', 'apple'}
{'cherry', 'orange', 'kiwi', 'apple'}

### clear vs del

clear empty the set

del delete the set

In [ ]:
x = {1,2,3,4}
y = {1,2,3,4,5,6}
x.clear()
print(x)
del y
print("After delete the set is ")

set()
After delete the set is

### Others....

| Method                            | Description                                                                   |
| --------------------------------- | ----------------------------------------------------------------------------- |
| **add()**                         | Adds an element to the set                                                    |
| **clear()**                       | Removes all the elements from the set                                         |
| **copy()**                        | Returns a copy of the set                                                     |
| **difference()**                  | Returns a set containing the difference between two or more sets              |
| **difference_update()**           | Removes the items in this set that are also included in another specified set |
| **discard()**                     | Removes the specified item                                                    |
| **intersection()**                | Returns a set that is the intersection of two or more sets                    |
| **intersection_update()**         | Removes the items in this set that are not present in other specified set(s)  |
| **isdisjoint()**                  | Returns whether two sets have an intersection or not                          |
| **issubset()**                    | Returns whether another set contains this set or not                          |
| **issuperset()**                  | Returns whether this set contains another set or not                          |
| **pop()**                         | Removes an element from the set                                               |
| **remove()**                      | Removes the specified element                                                 |
| **symmetric_difference()**        | Returns a set with the symmetric differences of two sets                      |
| **symmetric_difference_update()** | Inserts the symmetric differences from this set and another                   |
| **union()**                       | Returns a set containing the union of sets                                    |
| **update()**                      | Updates the set with the union of this set and others                         |